<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-6 col-lg-4">
            <div class="text-center">
                <h3>Signup</h3>
                <h5 class="text-muted">Create a new account</h5>
            </div>

            <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && signupClicked()"
                #f="ngForm"
                novalidate
            >
                <div class="form-group mt-2">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        
                        #username="ngModel"
                        [(ngModel)]="form.username"
						[ngClass]="{'is-invalid': f.submitted && username.invalid}"
						required
						minLength = "3">
                    <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="username.errors.required">>> required</div>
                        <div *ngIf="username.errors.minlength">>> Must be atleast 3 characters</div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        
                        #email="ngModel"
                        [(ngModel)]="form.email"
						[ngClass]="{'is-invalid': f.submitted && email.invalid}"
						required
                        email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">>> required</div>
                        <div *ngIf="email.errors.email">>> must be a valid email address</div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        
						#password="ngModel"
                        [(ngModel)]="form.password"
						[ngClass]="{'is-invalid': f.submitted && password.invalid}"
						required
						minlength="6">
                    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">>> required</div>
                        <div *ngIf="password.errors.minlength">>> must be at least 6 characters</div>
                    </div>
                </div>

                <div class="form-group mt-2" hidden>
                    <label for="password">Retype Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password">
                </div>

                <div class="form-group mt-2">
                    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                        Signup failed!<br />{{ errorMessage }}
                      </div>
                    <button
                        class="btn btn-success"
                        (click)="signupClicked()">Signup</button>
                    <p class="mt-2">
                        <span class="btn-inline-text">Already have an account?</span>
                        <button
                            class="btn btn-sm btn-primary ms-2"
                            (click)="loginClicked()">Login</button>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>