<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-6 col-lg-4">
            <div class="text-center">
                <h3>Signup</h3>
                <h5 class="text-muted">Create a new account</h5>
            </div>

            <form>
                <div class="form-group mt-2">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username">
                </div>

                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email">
                </div>

                <div class="form-group mt-2">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password">
                </div>

                <div class="form-group mt-2">
                    <label for="password">Retype Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password">
                </div>

                <div class="form-group mt-2">
                    <button
                        class="btn btn-success"
                        (click)="signupClicked()">Signup</button>
                    <p class="mt-2">
                        <span class="btn-inline-text">Already have an account?</span>
                        <button
                            class="btn btn-sm btn-primary ms-2"
                            (click)="loginClicked()">Login</button>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>