<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="text-center">
                <h3 class="mt-2">Create New Note</h3>
            </div>
            <form (ngSubmit)="onSubmit()">
        
                <div class="form-group mt-2">
                    <label for="title">Title</label>
                    <input type="text"
                        class="form-control"
                        id="title"
                        [(ngModel)]="note.title"
                        name="title">
                </div>
        
                <div class="form-group mt-2">
                    <label for="note">Note</label>
                    <textarea name="note"
                        id="note"
                        cols="30"
                        rows="10"
                        class="form-control"
                        [(ngModel)]="note.note"></textarea>
                </div>
        
                <button id="positiveSubmitButton" class="btn btn-success mt-3" type="submit">Create</button>
        
            </form>
        </div>
    </div>
</div>